# Java
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.log

# Node
**/node_modules/
**/dist/
.eslintcache

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Spring Boot
**/application-dev.properties
**/application-prod.properties
**/nexus-data/

# OS
Thumbs.db
